# ==============================================================================
# LectureOS Frontend — Environment Variables
# ==============================================================================

NEXT_PUBLIC_API_URL=http://localhost/api/v1
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_this_to_a_random_32_char_string
UPLOADTHING_TOKEN=your_uploadthing_token_here
NEXTAUTH_BACKEND_URL=http://api:8000
